
// For retrieving YouTube metrics
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=

// For retrieving Tweets
TWITTER_API_KEY=

// For post views and subscriber
MONGODB_URI=

// Strapi CMS
NEXT_PUBLIC_STRAPI_API_URL=
NEXT_STRAPI_JWT_SECRET=
